.container {
  display: flex;
  flex-direction: column;
  margin-top: 18%;

  .skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, 30px);
    grid-gap: 10px;
    row-gap: 30px;
    width: 100%;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 690px) {
  .container {
    margin-top: 50%;
  }
}
