@import '/src/styles/keyFrames.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: opacityAnimation 1s ease-in-out 0s 1 normal forwards;

  .title {
    width: 500px;
    overflow: hidden;
  }

  .jobs {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 10px;
    font-family: var(--font-ubuntu);
    .bullet {
      width: 10px;
      height: 10px;
      border-radius: 100%;
    }
  }

  nav {
    display: flex;
    gap: 20px;

    a {
      display: inline-block;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        top: 22px;
        left: 0;
        background-color: var(--color-primary);
        transform-origin: bottom right;
        transition: transform 0.3s ease-out;
      }
      &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }
}
