.container {
  margin: 10% 0px;

  &-list-project {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    justify-content: space-between;
    grid-row-gap: 50px;
  }

  &-footer {
    margin: 10%;
    display: flex;
    justify-content: center;

    a {
      transition: color 1s ease;
      &:hover {
        color: var(--color-primary);
      }
    }
  }
}
