<div class="card">
  <div class="card__section">
    <h3 class="card__company">{{ data().company }}</h3>
    <span>{{ data().date }}</span>
  </div>
  <div class="card__section">
    <h3 class="card__title">{{ data().title }}</h3>
    <span>{{ data().location }}</span>
  </div>
  <ul class="card__list">
    @for (desc of data().description; track $index) {
      <li>{{ desc }}</li>
    }
  </ul>
  <div class="card__skills">
    @for (skill of data().skills; track $index) {
      <app-chip [label]="skill" />
    }
  </div>
</div>