.description {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 200px;
  width: 100%;

  img {
    width: 300px;
  }

  p {
    width: 45%;
    text-align: left;
    color: var(--text-color-with-opacity);
  }
}

.icons {
  width: 45%;
  display: flex;
  justify-content: center;
  gap: 5px;
}
