<div class="about">
  <h2 class='title-section-left'>About Me<span class='dot-title'></span></h2>
  <div class="about__description">
    <p>
      Young developer, passionate about web technologies. I learned to
      code in high school simply out of curiosity, to understand the
      reality of website development. It was a discovery that allowed me
      to blossom in an extremely rewarding field. I then went on to obtain
      a <span class='title'>BTS SNIR (Digital Information Systems and Networks)</span>
      . And to consolidate my knowledge and skills in web development, I
      trained as a <span class='title'>fullstack Javascript web developer</span> at
      La Capsule, on the <span class='title'>MERN stack (MongoDB, Express, React Js, Node Js)</span>
      . And to give me some in-company experience, I worked for 2 years at
      Rakuten DX as a Front-end developer, to prepare the
      <span class='title'>"Application developer - JavaScript React" certification with OpenClassrooms.</span>
      Since Dec. 2023, I work at Inovéa as a Front-end developer.
    </p>
    <div class="about__description__profil-pic">
      <img ngSrc="/assets/img/profile-pic.png" alt="profile picture" height="250" width="250">
    </div>
  </div>

  <div class="about__social-links">
    <a href="https://www.linkedin.com/in/valentin-duffet" target="_blank"><fa-icon [icon]="faLinkedinIn" size="xl" title="Linkedin"></fa-icon></a>
    <a href="https://github.com/ValentinDft" target="_blank"><fa-icon [icon]="faGithub" size="xl" title="Github"></fa-icon></a>
  </div>
</div>
