.description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  p {
    width: 60%;
    text-align: left;
    color: var(--text-color-with-opacity);
  }
}

.icons {
  width: 45%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@media screen and (max-width: 1000px) {
  .description {
    flex-direction: column;
    align-items: start;
    p {
      width: 100%;
    }
  }

  .container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    width: 100%;
  }

  .icons {
    width: 100%;
  }
}
