@import url('https://fonts.googleapis.com/css2?family=Coda&family=Exo&family=Share&family=Ubuntu&display=swap');

:root {
  --border-radius: 12px;
  --font-coda: 'coda', sans-serif;
  --font-ubuntu: 'Ubuntu', sans-serif;
  --font-exo: 'Exo', sans-serif;
  --background-color: #14303f;
  --text-color: #e1d4bb;
}

* {
  padding: 0;
  margin: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

body {
  font-family: var(--font-coda);
  max-width: 100vw;
  padding: 0px 10%;
  background-color: var(--background-color);
  color: var(--text-color);
}
