<div class="experience-card">
  <div class="experience-card__section">
    <h3 class="experience-card__company">{{ data().organizationName }}</h3>
    <span>{{ data().date }}</span>
  </div>
  <div class="experience-card__section">
    <h3 class="experience-card__title">{{ data().title }}@if (data().level) { - {{ data().level }}}</h3>
    <span>{{ data().location }}</span>
  </div>
  <ul class="experience-card__list">
    @for (desc of data().description; track $index) {
      <li>{{ desc }}</li>
    }
  </ul>
  <div class="experience-card__skills">
    @for (skill of data().skills; track $index) {
      <app-chip [label]="skill" />
    }
  </div>
</div>
