.container {
  margin-top: 18%;

  &-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    justify-content: space-between;
    grid-row-gap: 50px;
  }

  &-action {
    margin-top: 6%;
    display: flex;
    justify-content: flex-end;

    a {
      transition: color 1s ease;
      display: flex;
      align-items: center;
      gap: 5px;
      &:hover {
        color: var(--color-primary);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container-list {
    justify-content: center !important;
  }
}

@media screen and (max-width: 500px) {
  .container-list {
    grid-template-columns: repeat(auto-fill, 280px);
  }
}
