<div class="header">
  <span>Hello, my name is </span>
  <h1>VALENTIN DUFFET.</h1>
  <h2>I'm a <span>Front-end developer</span> from Montpellier, France</h2>
  <p>
    I've been working at Inovéa as an Angular developer since 2023. <br/>
    Before that I worked for 2 years at Rakuten DX as a front-end developer using
    React.js and Angular on a low-code/no-code platform for
    generating mobile applications.
  </p>
  <img class="header__img" ngSrc="/assets/gif/animation-scroll.gif" alt="logo scroll down" height="100" width="100">
</div>
