@import '/src/styles/keyFrames.scss';

.container {
  animation: opacityAnimation 1s ease-in-out 0s 1 normal forwards;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
  justify-content: space-between;

  .title {
    width: 100%;
    overflow: hidden;
    h1 {
      font-weight: 400;
    }
  }

  .jobs {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 10px;
    font-family: var(--font-ubuntu);
    .bullet {
      width: 10px;
      height: 10px;
      border-radius: 100%;
    }
  }

  nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;

    a {
      display: inline-block;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        top: 22px;
        left: 0;
        background-color: var(--color-primary);
        transform-origin: bottom right;
        transition: transform 0.3s ease-out;
      }
      &:hover:not(.active)::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }

    .active {
      border-bottom: 2px solid var(--color-primary);
    }
    .disabled {
      cursor: not-allowed !important;
    }
  }
}

@media screen and (max-width: 690px) {
  .container {
    grid-template-columns: repeat(1, 100%);
    nav {
      margin-top: 20px;
    }
  }
}
